#gameBoard{
    display: grid;
    height: 100%;
    width: 75vw;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: left;
    justify-self: center;
    margin: auto;
    padding-right: 15px;
 }

 #answBoard{
   display: grid;
   height: 100%;
   width: 75vw;
   grid-template-columns: repeat(1, 80px);
   grid-template-rows: repeat(5, 80px);
   grid-column-gap: 10px;
   grid-row-gap: 15px;
   justify-content: left;
   justify-self: center;
   margin: auto;
}
 
 .letterSquare{
    display: flex;
    width: 100%;
    height: 100%;
    justify-self: center;
    justify-content: center;
    background-color: transparent;
    border: solid;
    border-width: thin;
    border-color: grey;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
 }

 .cheatko_resetbutton {
  border-radius: 4px;
  background-color: #212121;
  color: white;
  border: none;
  border-bottom: 1px;
  border-color: #fff;
  }

  .freqMainDiv {
    width: 100%;
  }

  .freaqHead {
    font-size: 16px;
  }

 /* keyboard */ 
.cheatko-keyboard-row{text-align:center}
.cheatko-keyboard-container 
.btn{font-size:1.2em;width:2.0em;height:2.0em;text-align:center;margin:0.5px;background-color: #d4d6da}
.cheatko-keyboard-container 
.cheatko-keyboard-shift{width:4.4em;background-color: #d4d6da}
.cheatko-keyboard-container 
.cheatko-keyboard-del{width:4em;background-color: #d4d6da}
.popover{max-width:800px}

.cheatko_column {
  float: left;
  font-size: 22px; 
 }

 .cheatko_column.results {
  width: 35%;
  font-size: 22px;
  text-align: right;
  height:410px;
  overflow:auto;
 }

 progress {
   border: none;
   background: white;
 }
 
 progress {
   color: lightblue;
 }
 
 progress::-moz-progress-bar {
   background: lightcolor;
 }
 
 
 progress::-webkit-progress-value {
   background: #272829;
 }
 
 progress::-webkit-progress-bar {
   background: white;
 }
 /* loader */ 
 .lds-facebook {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
 .lds-facebook div {
   display: inline-block;
   position: absolute;
   left: 8px;
   width: 16px;
   background: #272829;
   animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
 }
 .lds-facebook div:nth-child(1) {
   left: 8px;
   animation-delay: -0.24s;
 }
 .lds-facebook div:nth-child(2) {
   left: 32px;
   animation-delay: -0.12s;
 }
 .lds-facebook div:nth-child(3) {
   left: 56px;
   animation-delay: 0;
 }

 @keyframes lds-facebook {
   0% {
     top: 8px;
     height: 64px;
   }
   50%, 100% {
     top: 24px;
     height: 32px;
   }
 }

 @media (max-width: 1000px) {
    #gameBoard {
      height: 100%;
      width: 75vw;
      grid-template-columns: repeat(5, 40px);
      grid-template-rows: repeat(5, 40px);
      grid-column-gap: 3px;
      grid-row-gap: 5px;
    }
    #answBoard{
      height: 100%;
      width: 75vw;
      grid-template-columns: repeat(1, 40px);
      grid-template-rows: repeat(5, 40px);
      grid-column-gap: 3px;
      grid-row-gap: 5px;
   }
   .cheatko_column.results {
    width: 35%;
    font-size: 12px;
    text-align: right;
    height:210px;
    overflow:auto;
   }
   progress {
    width: 50%;
  }
    .letterSquare{
      font-size: 14px;
   }
    /* loader */ 
   @keyframes lds-facebook {
    0% {
      top: 2px;
      height: 40px;
    }
    50%, 100% {
      top: 12px;
      height: 20px;
    }
  }
  section {
    padding: 2px 0;
  }
  .resetboard {
    font-size: 12px;
  }

   /* keyboard */ 
   .cheatko-keyboard-row{text-align:center;}
   .cheatko-keyboard-container 
   .btn{font-size:14px;width:5.5%;height:5.5%;text-align:center;padding: 2px; background-color: #d4d6da}
   .cheatko-keyboard-container 
   .cheatko-keyboard-shift{width:9%;background-color: #d4d6da}
   .cheatko-keyboard-container 
   .cheatko-keyboard-del{width:7%;background-color: #d4d6da;}
   .popover{max-width:100%}
}

@media (max-width: 768px) {
  #gameBoard {
    height: 100%;
    width: 75vw;
    grid-template-columns: repeat(5, 20px);
    grid-template-rows: repeat(5, 20px);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
  }

  #answBoard{
    height: 100%;
    width: 75vw;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(5, 20px);
    grid-column-gap: 3px;
    grid-row-gap: 5px;
 }
 .cheatko_column.results {
  width: 35%;
  font-size: 8px;
  text-align: right;
  height:105px;
  overflow:auto;
 }

 .freqHead {
  font-size: 12px;
}

 progress {
  width: 50%;
}
  .letterSquare{
    font-size: 12px;
 }
  /* loader */ 
 @keyframes lds-facebook {
  0% {
    top: 2px;
    height: 32px;
  }
  50%, 100% {
    top: 12px;
    height: 16px;
  }
}
section {
  padding: 2px 0;
}
.resetboard {
  font-size: 8px;
}

 /* keyboard */ 
 .cheatko-keyboard-row{text-align:center;}
 .cheatko-keyboard-container 
 .btn{font-size:12px;width:5.5%;height:5.5%;text-align:center;padding: 2px;}
 .cheatko-keyboard-container 
 .cheatko-keyboard-shift{width:9%;background-color: #d4d6da}
 .cheatko-keyboard-container 
 .cheatko-keyboard-del{width:7%;background-color: #d4d6da}
 .popover{max-width:100%}
}